.screen-mobile {
   display:none!important; 
}
.service-step-box {
    border: 1px solid #3672bc;
    border-radius: 20px;
    padding: 10px 10px;
    margin-top: 10px;
    transition: .5s;
    background: transparent;
    text-align: center;
   

}

.service-step-box:hover {
    background: #1259b0;
    cursor:context-menu;
    border-color: white;
}

.service-icon {
    margin-bottom: 10px;
}

.service-step-box h2 {
    margin-bottom: 12px;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 36px;
}

.service-step-box p {
    color: #070707;
    font-family: 'Roboto Slab', serif;
}

.odd-section {
    background-color: white;
}

.even-section {
    background-color: #2daeec;
    padding-bottom: 30px;
}


/* for mobile responsive */

@media only screen and (max-width: 526px){
  .screen-big {
    display: none!important;
  }

  .screen-mobile {
    display:flex!important; 
 }
  
    .btn-primary{
    padding: 5px;
    margin: 10px!important;
  }
}
@media only screen and (max-width: 426px){
    .healing {
        padding: 0 !important;
    }

    .p-5 {
        padding: 6px !important;
    }

    .pt-xs-5 {
        padding-top: 40px;
    }
}