.doctor-wrapper {
    padding: 120px 0;
}

.single-staff {
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 8.135px 18.271px 40px 0 rgb(0 0 0 / 8%);
    padding: 50px 56px;
    margin-top: 30px;
    transition: .4s;
}

.staff-profile {
    border-radius: 50%;
    width: 217px;
    height: 217px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}

.rounded-image {
    border-radius: 50%;
    overflow: hidden;
    width: 100%; 
    height: auto; 
    margin-top: 10px;
}

.staff-profile::before {
    background: #fc5185;
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: -1;
    border-radius: 50%;
    top: -1px;
}

.staff-profile img {
    position: absolute;
    bottom: 1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 4;
}

.staff-info {
    margin-top: 33px;
}

.staff-info h3 {
    line-height: 1;
    transition: .3s;
}

.staff-info h3 a {
    text-decoration: none;
    color: black;
}

.staff-info h3 a:hover {
    color: #fc5185;
}

.staff-social {
    border-top: 2px solid #dcdcdc7a;
    padding-top: 15px;
    margin-top: 14px;
}

.staff-social a, .loginbtn {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #666;
    color: #fff;
    font-size: 13px;
    line-height: 24px;
    border-radius: 2px;
    margin: 0 5px;
    -webkit-transition: .4s;
    transition: .4s;
}

.staff-social a:hover, .loginbtn:hover {
    background-color: #fc5185;
}


@media only screen and (max-width: 526px){
    .mb-sm-dent {
        margin-bottom: 0 !important;
    }

    .single-staff, .single-feature-box {
        padding: 5px!important;
        margin: 0 10px 10px 10px!important;
        
      
    }

    .staff-profile {
        border-radius: 50%;
        width: 100px;
        height: 100px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin: 0 auto;
      
    }

    .container-staff{
        width: 50%;
    }
    
    .staff-info {
        margin-top: 10px;
        font-size: 14px;
    }
    
    .staff-info h3 {
        line-height: normal;
        transition: .3s;
        font-size: 18px!important;
        line-height: normal!important;
        padding-bottom:5px;
    }


}