.slider-wrapper {
    padding: 120px 0;
   
}
.slick-track {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.slider {
    display: flex;
    justify-content: center;
}

.single-brand-logo {
    width: 100px;
    height: auto;
    padding: 20px;
    justify-content: center;

}

.slick-next {
    right: -30px;
    background:transparent !important;
    border-radius: 7px;
  }
  
  .slick-prev {
    left: -30px;
    z-index: 2;
    background: transparent !important;
    border-radius: 7px;
  }
  

  .slick-prev:before,
  .slick-next:before {
    color: #fc5185;
  }
