.slider-wrapper {
    padding: 120px 0;
   
}
.slick-track {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.slider {
    display: flex;
    justify-content: center;
}

.single-brand-logo {
    width: 100px;
    height: auto;
    padding: 20px;
    justify-content: center;
   
}